### C / C++ ###
# Prerequisites
*.d
.depend

# Object files
*/*.o

# Object directories
obj

# Executables
*.out
./main
./driver
./driver_bb
./driver_wang

### Emacs ###
*~

### Python ###
__pycache__/
*.py[cod]

### Documentation ###
docs/

### VisualStudioCode ###
.vscode/

### Matrix files ###
*/*.mtx

### Log files ###
*/*.log
*.log
